{{>nav}}
<div class="content-container">
      <div class="profile-container">
            <div class="top-left">
                  <div class="character">
                        <img src={{imgUrl}} width='100%' height="100%" class="userImg">
                  </div>
                  <div class="namebio">
                        <h1>{{name}} </h1>
                        <span class='hide'> &nbsp; </span>
                  </div>
            </div>
            <div class="user">
                  <div class="char-name">
                        <h3>Your Character: </h3>
                        <h1> {{userName}}</h1>
                  </div>
                  <div class="about card">
                        <h1> {{about}}</h1>
                  </div>
            </div>
      </div>
            <div class="card bio">
                  <h1 >{{bio}} </h1>
            </div>
</div>
{{>footer}}